[tool.poetry]
name = "orient_express"
version = "2.3.0"
description = "A library to simplify model deployment to Vertex AI"
authors = ["Alexey Zankevich <alex.zankevich@shiftsmart.com>", "Ian Myers <ian.myers@shiftsmart.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
google-cloud-aiplatform = "^1.0"
google-cloud-storage = "^3.0"
pandas = "^2.0"
pyyaml = "^6.0"
torch = ">=2.5.0"
torchvision = ">=0.20.0"
opencv-python-headless = "^4.11.0"
Pillow = ">=10.0.1"
gcsfs = "^2024.10.0"
scikit-learn = "^1.5.0"
xgboost = "^2.0.0"
tqdm = ">=4.67.1"
onnxruntime-gpu = {version = "^1.20", markers = "sys_platform == 'linux' and platform_machine == 'x86_64' or sys_platform == 'win32' and platform_machine == 'AMD64'"}
onnxruntime = {version = "^1.20", markers = "sys_platform == 'darwin' or platform_machine == 'aarch64' or platform_machine == 'arm64' or sys_platform == 'win32' and platform_machine == 'ARM64'"}

[tool.poetry.group.dev.dependencies]
black = "24.10.0"
pytest = "8.3.3"
kserve = "^0.16.0"
python-json-logger = "^4.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
