[tool.poetry]
name = "orient_express"
version = "0.2.5"
description = "A library to simplify model deployment to Vertex AI"
authors = ["Alexey Zankevich <alex.zankevich@shiftsmart.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9"
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
pandas = "*"

[tool.poetry.dev-dependencies]
black = "24.10.0"
pytest = "8.3.3"
scikit-learn = "1.5.2"
xgboost = "2.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
