[tool.poetry]
name = "orient_express"
version = "2.0"
description = "A library to simplify model deployment to Vertex AI"
authors = ["Alexey Zankevich <alex.zankevich@shiftsmart.com>", "Ian Myers <ian.myers@shiftsmart.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
pandas = "*"
pyyaml = "^6.0"

[tool.poetry.group.dev.dependencies]
black = "24.10.0"
pytest = "8.3.3"
scikit-learn = "1.5.2"
xgboost = "2.1.2"

[tool.poetry.group.xgboost-scikit-learn.dependencies]
scikit-learn = "1.5.2"
kserve = "0.16.0"
python-json-logger = "2.0.7"
gcsfs = "^2024.10.0"

[tool.poetry.group.image-onnx.dependencies]
onnxruntime = "^1.20" # no gpu for now
kserve = "0.16.0"
# torch = "^2.5.0"
torch = {version = "^2.5.0", source = "pytorch-cpu"}
opencv-python-headless = "4.11.0.86"
Pillow = "10.0.1"
python-json-logger = "2.0.7"
gcsfs = "^2024.10.0"
torchvision = "^0.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
priority = "explicit"
